<!DOCTYPE html>
<html>
<head>
    <title>Éditer Joueur</title>
</head>
<body>
    <form method="POST" action="{{ url_for('admin_routes.edit_player', player_id=player._id) }}" enctype="multipart/form-data">


        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" value="{{ player.first_name }}"><br>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" value="{{ player.last_name }}"><br>

        <label for="niveau">Niveau:</label>
        <input type="text" id="niveau" name="niveau" value="{{ player.niveau }}"><br>

        <label for="number">Number:</label>
        <input type="text" id="number" name="number" value="{{ player.number }}"><br>

        <label for="position">Position:</label>
        <input type="text" id="position" name="position" value="{{ player.position }}"><br>

        <label for="photo">Photo:</label>
        <input type="file" id="photo" name="photo"><br>

        <button type="submit">Mettre à jour</button>
    </form>

    <a href="{{ url_for('admin_routes.admin_team', team_id=team._id) }}">Retour</a>

</body>
</html>
