<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles/client/change_password.css">
    <title>Informations du Joueur</title>
</head>
<body>
    <header>
        <h1 class="title">Changer votre mot de passe </h1>
        <a href="{{ url_for('common_routes.deconnect') }}">Déconnexion</a>
    </header>

<form method="POST" action="{{ url_for('player_routes.change_password', player_id=player._id) }}">

    <label for="old_password">Old Password:</label>
    <input type="password" id="old_password" name="old_password" required>
    <br>
    <label for="new_password">New Password:</label>
    <input type="password" id="new_password" name="new_password" required>
    <br>
    <label for="confirm_password">Confirm Password:</label>
    <input type="password" id="confirm_password" name="confirm_password" required>
    <br>
    <input type="submit" value="Change Password">
</form>

<a href="{{ url_for('player_routes.player_profil', player_id=player._id) }}">Annuler</a>
