<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/common/login.css">

</head>
<body>
    <div class="container mt-5">
        <h1>Login</h1>
        <form action="{{ url_for('common_routes.login') }}" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            
            <input type="submit" class="btn btn-primary" value="Login">
        </form>
    </div>
</body>
</html>
