/* player_info.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #003366;
    color: white;
}

tr:nth-child(even) {
    background-color: #ddd;
}

.h2 {
    margin-top: 20px;
}

.player-info-container {
    display: flex;
    align-items: center; /* Centrer les éléments verticalement */
    gap: 20px; /* Ajouter un espace entre l'image et les détails */
}

.player-image img {
    width: 150px; /* Ajustez la taille de l'image */
    height: auto;
    border-radius: 8px; /* Optionnel: arrondir les coins de l'image */
}

.player-details {
    flex: 1; /* Prend tout l'espace disponible */
}

/* Continuez avec le reste de votre CSS */

